#!/usr/bin/make -f

# The magic debhelper rule:
%:
	dh $@ --buildsystem cmake

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
PYVERS ?= $(shell pyversions -d)
TOPDIR :=$(shell pwd)

export DH_VERBOSE=1

override_dh_auto_configure:
	sed -e 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/' < debian/debian.cmake.in | \
	sed -e 's/@PYVERS@/$(PYVERS)/' | \
	sed -e 's/@VISITHOME@/$(TOPDIR)/' > src/config-site/debian.cmake
	dh_auto_configure --sourcedirectory=src 

override_dh_auto_build:
	$(MAKE) -C src

override_dh_auto_clean:
	rm -rf src/config-site/debian.cmake
	dh_auto_clean
